# module files
*.o
*.o.d
*.ko
*.mod
*.mod.c
*.mod.o

Module.symvers
modules.order

.*.cmd

# clangd
.cache/
/compile_commands.json

# rust-analyzer
rust-project.json

# vm images
*.qcow2
/vm/storage/*.part
/vm/shared/
vm/domains/*/domain.xml

# kernel build
.build/
